{% extends 'header.html' %}
{% load static %}
{% block content %}

<!DOCTYPE html>
<html lang="zxx" dir="ltr">

<head>
    
</head>

<body>
        <!-- login area start -->
        <div class="login-register-area pt-100px pb-100px">
            <div class="container">
                <div class="row">
                    <div class="col-lg-7 col-md-12 ml-auto mr-auto">
                        <div class="login-register-wrapper">
                            <div class="login-register-tab-list nav">
                                    <h4>New Password</h4>
                            </div>
                            <div class="tab-content">
                                <div id="lg1" class="tab-pane active">
                                    <div class="login-form-container">
                                        <div class="login-register-form">
                                            {% if msg %}
                                              <center>
                                                <div class="alert alert-success">
                                                  <strong>{{msg}}</strong>
                                                </div>
                                              </center>
                                            {% endif %}
                                            <form action="{% url 'new-password' %}" method="post">
                                                {% csrf_token %}
                                                <input type="hidden" name="email" value="{{email}}" />
                                                <input type="password" name="new_password" placeholder="New Password" />
                                                <input type="password" name="cnew_password" placeholder="Confirm New Password" />
                                                <div class="button-box">
                                                    <center>
                                                        <button type="submit"><span>Update Password</span></button>
                                                    </center>
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- login area end -->

</body>

</html>

{% endblock %}